.alert-container {
  display: flex;
  position: absolute;
  justify-content: center;
  gap: 16px;
}

.alert-squre {
  display: flex;
  cursor: pointer;
  width: 48px;
  height: 48px;
  left: 8px;
  top: calc(50% - 48px/2);
  border-radius: 8px;
  background: #FF647C;
  align-items: center;
}

.alert-ring {
  position: relative;
  margin: 0 auto;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #FFFFFF;
}


mat-icon {
  position: absolute;
  left: -3.5px;
  top: -3.5px;
  font-size: 30px;
  color: #FF647C;
}

.alert-text {
  display: block;
  line-height: 48px;
  text-align: center;
  align-items: center;
  color: #1A051D;
}

::ng-deep.mat-snack-bar-container {
  display: block;
  height: 64px;
  min-width: 240px !important;
  margin: 20px !important;
  padding-top: 8px;
  padding-left: 8px;
  border-radius: 8px;
  justify-content: center;
  background: #FFFFFF !important;
}
