<!-- <button
  (click)="isOpen = !isOpen"
  type="button"
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
>
  {{ isOpen ? "Close" : "Open" }}
</button> -->

<!-- This template displays the overlay content and is connected to the button -->
<!-- <ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
> -->
<!-- <ul class="example-list">
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
  </ul> -->
<div mat-dialog-content class="card-container">
  <header>
    <!-- <p>{{ nameInHeader }}</p> -->
    <p>{{ nameInHeader }}</p>
    <div mat-dialog-actions>
      <div class="btn-close" mat-button mat-dialog-close>
        <mat-icon>close</mat-icon>
      </div>
    </div>
    <!-- <button (click)="isOpen = !isOpen">Х</button> -->
  </header>
  <form action="user-info" class="input-wrapper" [formGroup]="userForm">
    <input
      type="text"
      name="name"
      id="name"
      placeholder="Имя"
      formControlName="name"
    />

    <input
      type="text"
      name="mname"
      id="mname"
      placeholder="Отчество"
      formControlName="mname"
    />
    <input
      type="text"
      name="fname"
      id="fname"
      placeholder="Фамилия"
      formControlName="fname"
    />
    <!-- <mat-form-field appearance="outline">
      <input matInput placeholder="Имя" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Отчество" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Фамилия" />
    </mat-form-field> -->
    <mat-form-field appearance="outline" class="select">
      <mat-select disableRipple formControlName="status" matNativeControl>
        <mat-option value="0">Подписка активна</mat-option>
        <mat-option value="1">Приостановлена</mat-option>
        <mat-option value="2">Заблокирован</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <div class="btn-container">
    <button mat-flat-button class="btn-submit" (click)="onSubmit()">
      Сохранить
    </button>
  </div>
</div>
<!-- </ng-template> -->

<!-- <div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div> -->
