.card-container {
  display: flex;
  flex-wrap: wrap;
  // gap: 28px;
  // flex-direction: row;
  // position: absolute;
  align-content: flex-start;

  width: 916px;
  height: 573px;
  // left: 262px;// top: 225px;
  background: #FFFFFF;
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  // border-radius: 12px;
}

::ng-deep.mat-dialog-container {
  padding: 0;
  width: 100%;
  border-radius: 12px;
  margin: 0 34px;
  padding: 0;
  overflow: hidden;
}



header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 24px 34px 0;
  // border-bottom: #592c86 solid 2px;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  font-size: 34px;
}

.btn-close {
  cursor: pointer;
  // content: "\e5cd";
  // font-family: 'Material Icons';
  // font-weight: 500;
  // line-height: 30px;
  // text-align: center;
  // align-items: center;
  // width: 100%;
  margin-bottom: 30px;
  height: auto;
  padding: 5px;
  // border: #592c86 solid 1px;
  width: 30px;
  text-align: center;
  // vertical-align: middle;
  // height: 48px;
  // height: 21px;
  border-radius: 50%;
  // line-height: 80px;
  // align-items: center;
  // text-align: center;
  font-size: 48px;
  color: #6979F8;
  // background: #000;
  // display: block;
  // position: absolute;
  // z-index: 2;
  ;

  &:hover {
    // background: rgb(235, 239, 243);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.07);
  }
}

.input-wrapper {
  display: flex;
  // border-top: #592c86 solid 2px;
  // position: relative;
  margin: 0px 34px;
  // margin-bottom: 28%;
  width: 100%;
  height: 158px;
  flex-wrap: wrap;
  gap: 28px;
}

// // ::ng-deep.mat-dialog-container {
// //   display: flex;
// //   flex-wrap: wrap;
// //   gap: 28px;
// //   padding: 0 24px;
// // }

input[type="text"] {
  // display: block;
  // position: absolute;
  padding: 0 10px;
  width: 240px;
  height: 48px;
  border: 1px solid #ECEBED;
  box-sizing: border-box;

  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 6px;

}


mat-select {
  width: 240px;
  height: 48px;
}

.btn-submit {
  display: block;
  position: absolute;
  align-self: flex-end;
  width: 180px;
  height: 40px;
  background: #6979F8;
  border-radius: 6px;
  right: 28px;
  bottom: 28px;

}

.btn-container {
  display: inline;
  position: relative;
  width: 100%;
  height: 310px;
}
