<div mat-dialog-content class="card-container">
  <header>
    <p>{{ nameInHeader }}</p>
    <div mat-dialog-actions>
      <div class="btn-close" mat-button mat-dialog-close>
        <mat-icon>close</mat-icon>
      </div>
    </div>
  </header>
  <form action="user-info" class="input-wrapper" [formGroup]="userForm">
    <input
      type="text"
      name="name"
      id="name"
      placeholder="Имя"
      formControlName="name"
    />
    <small class="error" *ngIf="isControlInvalid('name')"> Введите имя </small>
    <input
      type="text"
      name="mname"
      id="mname"
      placeholder="Отчество"
      formControlName="mname"
    />
    <input
      type="text"
      name="fname"
      id="fname"
      placeholder="Фамилия"
      formControlName="fname"
    />
       <div class="select">
      <mat-form-field appearance="outline">
        <mat-select disableRipple formControlName="status" matNativeControl>
          <mat-option value="0">Подписка активна</mat-option>
          <mat-option value="1">Приостановлена</mat-option>
          <mat-option value="2">Заблокирован</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
  <div class="btn-container">
    <button
      mat-flat-button
      class="btn-submit"
      [mat-dialog-close]="true"
      (click)="onSubmit()"
    >
      Сохранить
    </button>
  </div>
</div>
