.card-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 916px;
  min-height: 573px;
  background: #FFFFFF;
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
}

::ng-deep.mat-dialog-container {
  padding: 0;
  width: 100%;
  border-radius: 12px;
  margin: 0 34px;
  padding: 0;
  overflow: hidden;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 24px 34px 0;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  font-size: 34px;
}

.btn-close {
  cursor: pointer;
  margin-bottom: 30px;
  height: auto;
  padding: 5px;
  width: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 48px;
  color: #6979F8;
  ;

  &:hover {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.07);
  }
}

.input-wrapper {
  display: flex;
  margin: 0px 34px;
  width: 100%;
  height: 158px;
  flex-wrap: wrap;
  gap: 28px;
}

input[type="text"] {
  padding: 0 10px;
  width: 240px;
  height: 48px;
  border: 1px solid #ECEBED;
  box-sizing: border-box;
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
}

.select {
  padding: 0 10px;
  width: 240px;
  height: 48px;
  border: 1px solid #ECEBED;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
}

::ng-deep.mat-select {
  display: inline;
  width: 240px !important;
  height: 48px !important;
  box-shadow: none !important;
  margin: 0;
  background-color: #FFFFFF !important;
}

.btn-submit {
  display: block;
  position: absolute;
  align-self: flex-end;
  width: 180px;
  height: 40px;
  background: #6979F8;
  border-radius: 6px;
  right: 28px;
  bottom: 28px;
}

.btn-container {
  display: inline;
  position: relative;
  width: 100%;
  height: 310px;
}

.error {
  font-size: 9px;
  position: absolute;
  margin: -10px 15px;
  color: orangered;
}
