<form class="form-container" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
  <input type="name" name="name" formControlName="login" />
  <input
    [type]="hide ? 'password' : 'text'"
    class="password"
    formControlName="password"
  />
  <mat-icon
    aria-hidden="false"
    aria-label="Example home icon"
    (click)="hide = !hide"
    >{{ hide ? "visibility_off" : "visibility" }}</mat-icon
  >
  <button
    class="mat-icon-button"
    (click)="hide = !hide"
    [attr.aria-label]="'Hide password'"
    [attr.aria-pressed]="hide"
  ></button>
  <button class="btn-submit submit" [disabled]="loginForm.invalid">
    ВОЙТИ
  </button>
</form>
