<!-- <form class="form-container" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <input matInput placeholder="Login" formControlName="login" />
  </mat-form-field>
  <!-- <mat-form-field appearance="outline">
    <input
      matInput
      placeholder="Password"
      [type]="hide ? 'password' : 'text'"
      formControlName="password"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field> -->
<!-- <button mat-flat-button class="btn-submit" color="primary">ВОЙТИ</button> -->
<!-- =========================================================================== -->
<form class="form-container" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
  <!-- <div class="form-wrapper"> -->
  <small class="error" *ngIf="isControlInvalid('email')">
    Введите корректный Login
  </small>
  <input type="name" name="name" formControlName="login" />
  <small class="error" *ngIf="isControlInvalid('password')">
    Введите корректный пароль
  </small>
  <!-- <div class="pass-field"> -->
  <input
    type="password"
    name="Password"
    formControlName="password"
    [type]="hide ? 'password' : 'text'"
  />
  <button
    class="mat-icon-button"
    (click)="hide = !hide"
    [attr.aria-label]="'Hide password'"
    [attr.aria-pressed]="hide"
  >
    <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
  </button>
  <!-- </div> -->
  <button class="btn-submit submit" [disabled]="loginForm.invalid">
    ВОЙТИ
  </button>
  <!-- </div> -->
</form>
