mat-form-field {
  width: 100%;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  row-gap: 24px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 240px;
  height: 192px;
}

mat-icon {
  cursor: pointer;
  margin-top: 5px;
  margin-left: -50px;
  color: #6979F8;
  font-size: 18px;
  z-index: 10;
}

input {
  display: block;
  padding: 0 12px;
  height: 48px;
  width: 240px;
  border: 1px solid #ECEBED;
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  transition-duration: .4s;
  transition-property: border;

  &:focus-visible {
    outline-color: #6979F8 !important;
  }

  &:focus {
    border-color: #6979F8;
  }
}

input[type="password"] {
  max-width: 215px;
}

.password {
  max-width: 215px;
}

.btn-submit {
  background: #6979F8;
  color: #FFFFFF;
  border: #6979F8;
  border-radius: 6px;
  height: 48px;
  width: 240px;
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  opacity: 1;
  transition-duration: .1s;
  transition-property: opacity;

  &:hover {
    opacity: .6;
  }

  &:disabled {
    opacity: .6;
  }

  &:active {
    opacity: 1;
  }
}

.mat-icon-button {
  display: inline-block;
  margin-right: -16px;
  position: relative;
  max-width: 16px;
  padding: 0;
  left: 254px;
  bottom: 46px;
  border: none;
  color: #0a0807;
}

.ng-valid {
  border-color: #6979F8;
}

.ng-dirty {
  border-color: #6979F8;
}

.error {
  font-size: 9px;
  position: absolute;
  margin: -10px 15px;
  color: #6979F8;
}

.active {
  font-size: 9px;
  position: absolute;
  margin: -10px 15px;
  color: #6979F8;
}

.cdk-mouse-focused {
  opacity: 1;
}

.cdk-focused {
  opacity: 1;
}
