<div class="container">
  <article class="frame">
    <!-- <div class="content"> -->
    <div class="text-info">
      <div class="avatar"><img src="" alt="avatar" /></div>
      <div class="text-info">
        <p class="text text-name">Ibankdoff</p>
        <p class="text text-balance">Balance</p>
      </div>
    </div>
    <div class="text-info-log">
      <p class="text text-content">
        Last visited<time datetime="2015-05-17 19:00">16 мая</time>
      </p>
      <select>
        <option name="" id="">select</option>
      </select>
    </div>
    <!-- </div>-->
  </article>
</div>
