.container {
  margin: 0 48px;

}

.frame {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 80px;
  border: 2px solid green;
  border-radius: 4px;
  box-shadow: 0px 10px 10px -5px rgba(248, 184, 111, 0.2);
  // justify-items: center;
  // position: relative;
}

.text-info {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  line-height: 60px;
  // width: 50%;
}

.avatar {
  margin-left: 16px;
  width: 48px;
  height: 48px;
  line-height: 20px;
  border: 2px solid green;
  border-radius: 50%;
  overflow: hidden;
}

.text {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 135px;
  margin: auto;
  border: 2px solid orangered;
  text-align: left;
  // line-height: normal;
  // vertical-align: middle;
  // padding: 10px;
}

.text-info-log {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  line-height: 60px;
  align-items: center;
  margin-right: 48px;
}
